<div id="footer" class="row" style="background-color: #462a72 ">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <div>
                <div class="col-md-3">
                    <br/>
                    <img src="../../../assets/img/Qiwi.png"/>
                </div>
                <div class="col-md-3">
                    <br />
                    <img src="../../../assets/img/Яндекс Money.png"/>
                </div>
                <div class="col-md-3">
                    <br />
                    <img src="../../../assets/img/Payeer .png"/>
                </div>
                <div class="col-md-3">
                    <br />
                    <img src="../../../assets/img/Perfect money.png"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <p><font color="white">ИНВЕСТИРУЙ В НАСТОЯЩЕЕ - СОЗДАВАЙ БУДУЩЕЕ</font></p>
            </div>
        </div>
        <div class="form-group last">
            <div class="text-center col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-primary btn-block">Инвестировать</button>
            </div>
        </div>
        <div class="form-group">
            <div ng-init="$parent.ssrc='../../../assets/img/Кнопка VK (неактив).png'" class="col-md-12 text-center">

                <p style="color:#965df2 ">
                    <a><img ng-mouseenter="$parent.ssrc='../../../assets/img/Кнопка VK (наведение).png'" ng-mouseleave="$parent.ssrc='../../../assets/img/Кнопка VK (неактив).png'" ng-src="{{$parent.ssrc}}" /> </a>
                    
                    THE IMMOVABLES AND PROSPERITY ALL RIGHTS RESERVED 2016
                </p>
            </div>
        </div>
    </div>
</div>