<div class="navbar" align="center" ng-controller="LPCtrl" style="margin-top: -0.1vh">
    <ul class="nav navbar-nav text-uppercase small" style="background-color:#906ace;border-radius: 0px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; width: 25%">
        <li role="presentation">
            <a ng-click="openReg()" style="color:white; font-size: 1em;"><img src="../../../assets/img/Иконка регистрации.png" style="height:1.5%" /> Регистрация </a>
        </li>
        <li role="presentation">
            <a ng-click="openLogin()" style="color: white; font-size: 1em;">Вход <img src="../../../assets/img/Иконка входа.png" style="height:1.5%" /> </a>
        </li>
    </ul>
</div>
