<div class="navbar" align="center" ng-controller="LPCtrl">
    <ul class="nav navbar-nav text-uppercase small" style="background-color:#906ace;border-radius: 0px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; width: 40vh;">
        <li role="presentation">
            <a ng-click="openReg()" style="color:white; font-size: 2vh;padding: 1vh 2vh 1vh 2vh"><img src="../../../assets/img/Иконка регистрации.png" style="height:2vh" /> Регистрация </a>
        </li>
        <li role="presentation">
            <a ng-click="openLogin()" style="color: white; font-size: 2vh; padding: 1vh 2vh 1vh 2vh">Вход <img src="../../../assets/img/Иконка входа.png" style="height:2vh" /> </a>
        </li>
    </ul>
</div>
