<div class="panel panel-primary" style="border-radius: 10px; margin-bottom: 0;">
    <div class="panel-heading text-center" style="border-radius: 10px;">
        <span class="text-center" style="color: black; font-size: 3vh">Вход</span>
        <button type="button" class="close" ng-click="closeForm()" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="panel-body" style="font-size: 2vh">
        <form class="form-horizontal" role="form" ng-submit="login(credentials)" novalidate>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputName"
                           placeholder="Логин...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" class="form-control" id="inputPassword"
                           placeholder="Пароль...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Запомнить на этом устройстве</label>
                    </div>
                </div>
            </div>
            <div class="form-group last">
                <div  ui-sref-active="active">
                    <button style="font-size: 2vh;width: 5vw" type="submit" ui-sref="mainLK" ng-click="closeForm()" class="btn btn-primary btn-block center-block">Войти</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <a href="#">Забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>
