<header ng-include="'app/components/LP/nav.html'"></header>
<div ng-include="'app/components/LP/log.reg.html'" style="background-image: url('../../../assets/img/Безимени-1.jpg'); background-size: 100%; height: 84vh; margin: 0; padding: 0;">
</div>
<div class="col-md-12 text-center" style="background-color: white; font-weight: lighter; padding: 2vh 30vw 2vh 30vw;">
    <p   style="font-size: 4vh;">
        <u style="border-bottom: 1px solid violet; text-decoration: none;">Маркетинг</u>
    </p>
    <span class="text-center" style="color: gray; font-size: 2vh">
       Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.
        Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.
        Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.
        Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.
        Куча хорошей и очень важной инфы.Куча хорошей и очень важной инфы.
    </span>
</div>
<div ng-include="'app/components/LP/footer.html'"></div>
