<div class="row">
    <ul class="nav navbar-nav text-uppercase" style="background-color: #4e547a; border-radius: 0; height: 10% ">
        <li role="presentation" ui-sref-active="active">
            <a style="margin-top: 1.2vh;color:white;font-size: 2vh;" id="homeLP" ui-sref="homeLP"> Главная</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color: white;font-size: 2vh;"ui-sref="marketingLP"> Маркетинг</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"ui-sref="faqLP"> FAQ</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;" ui-sref="agreementLP"> Соглашение</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;" ui-sref="newsLP"> Новости</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;" ui-sref="reviewsLP"> Отзывы</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;" ui-sref="contactsLP"> Контакты</a>
        </li>
    </ul>
</div>

        

