<div class="row">
    <ul class="nav navbar-nav text-uppercase" style="background-color: #4e547a; border-radius: 0">
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;" id="homeLP" ui-sref="homeLP" style="color:white"> Главная</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color: white;font-size: 2vh;"> Маркетинг</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"> FAQ</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"> Соглашение</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"> Новости</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"> Отзывы</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a style="color:white;font-size: 2vh;"> Контакты</a>
        </li>
    </ul>
</div>

        

