<header ng-include="'app/components/LP/nav.html'"></header>
<div ng-include="'app/components/LP/log.reg.html'" style="background-image: url('../../../assets/img/Shablon (Новости).jpg'); background-size: 100%; height: 33vh; margin: 0; padding: 0;">
</div>
<div class="col-md-12 text-center" style="background-color: white; font-weight: lighter; padding: 2vh 30vw 2vh 30vw;">
    <p style="font-size: 3vh;">
        <u style="border-bottom: 1px solid orange; text-decoration: none;">НОВОСТИ</u>
    </p>
    <span class="text-center" style="color: gray; font-size: 2vh" >
            На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
            изучений деятельности компании.Именно они помогут разобраться в нюансах работы
            сервиса и ответят на большую часть возникающих вопросов.
        </span>
</div>
<div class="col-md-12" style="background-color: #f3effc;  margin: 0; padding: 0;">
    <div class="row">
        <div class="center-block" style="padding: 0; margin: 5vh 31.75vw 0vh 20vw;">
            <div class="col-md-12">
                <div class="col-md-6 text-center">
                    <p style="font-size: 2vh">
                        20 ЯНВАРЯ <img style="height: 7vh" src="../../../assets/img/12121212121.png"/>
                    </p>
                </div>
                <div class="col-md-6 text-center" style="border-bottom: 1px solid gray">
                    <p class="text-left" style="font-size: 2.5vh">
                        Заголовок статьи
                    </p>
                    <span ng-show="$parent.pag==1" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья 
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья 
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья 
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==2" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==3" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 text-center">
                    <p style="font-size: 2vh">
                        20 ЯНВАРЯ <img style="height: 7vh" src="../../../assets/img/12121212121.png"/>
                    </p>
                </div>
                <div class="col-md-6 text-center" style="border-bottom: 1px solid gray">
                    <p class="text-left" style="font-size: 2.5vh">
                        Заголовок статьи
                    </p>
                    <span ng-show="$parent.pag==1" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==2" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==3" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 text-center">
                    <p style="font-size: 2vh">
                        20 ЯНВАРЯ <img style="height: 7vh" src="../../../assets/img/12121212121.png"/>
                    </p>
                </div>
                <div class="col-md-6 text-center" style="border-bottom: 1px solid gray">
                    <p class="text-left" style="font-size: 2.5vh">
                        Заголовок статьи
                    </p>
                    <span ng-show="$parent.pag==1" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==2" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                    </span>
                    <span ng-show="$parent.pag==3" class="text-left" style="font-size: 1.5vh; color: gray">
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-init="$parent.pag=1">
        <div class="col-md-12 text-center center-block">
            <ul class="pagination" style="font-size: 2vh">
                <li ng-class="$parent.pag==1?'active':''" ng-click="$parent.pag=1"><a  style="color: black">1</a></li>
                <li ng-class="$parent.pag==2?'active':''" ng-click="$parent.pag=2"><a  style="color: black" >2</a></li>
                <li ng-class="$parent.pag==3?'active':''" ng-click="$parent.pag=3"><a  style="color: black" >3</a></li>
            </ul>
        </div>
    </div>
</div>


<div ng-include="'app/components/LP/footer.html'"></div>