<header ng-include="'app/components/LP/nav.html'"></header>
<div ng-include="'app/components/LP/log.reg.html'">
</div>
<div class="col-md-12 text-center" style="background-color: white; font-weight: lighter; ">
    <div class="hidden-sm" style="padding: 1% 25% 1% 25%;">
        <p style="font-size: 200%;">
            <u style="border-bottom: 1px solid orange; text-decoration: none;">РЕГЛАМЕНТ</u>
        </p>
        <span class="text-center" style="color: gray; font-size: 150%">
            На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
            изучений деятельности компании.Именно они помогут разобраться в нюансах работы
            сервиса и ответят на большую часть возникающих вопросов.
        </span>
    </div>
    <div class="visible-sm">
        <p style="font-size: 150%;">
            <u style="border-bottom: 1px solid orange; text-decoration: none;">РЕГЛАМЕНТ</u>
        </p>
        <span class="text-center" style="color: gray; font-size: 75%; padding: 2% 0% 2% 0%">
            На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
            изучений деятельности компании.Именно они помогут разобраться в нюансах работы
            сервиса и ответят на большую часть возникающих вопросов.
        </span>
    </div>
</div>
<div class="hidden-sm">
    <div class="col-md-12 text-left" style="background-color: white; padding: 1% 30% 1% 30%;">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                            1.Вводная Часть
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body" style="font-size: 120%">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                            2.Толкование
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                            3.Общие положения
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                            4.Обязанности пользователя
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                            5.Обязанности администрации
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                            6.Ответственность
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                            7.Конфиденциальность
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 150%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                            8.Иные положения
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="visible-sm">
    <div class="col-md-12 text-left" style="background-color: white; padding: 1% 0% 1% 0%;">
        <div class="panel-group" id="accordionSm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordionSm" data-target="#collapseOneSm">
                            1.Вводная Часть
                        </a>
                    </h4>
                </div>
                <div id="collapseOneSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <span style="font-size: 150%">
                            Большой и развёрнутый ответ.
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwoSm">
                            2.Толкование
                        </a>
                    </h4>
                </div>
                <div id="collapseTwoSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThreeSm">
                            3.Общие положения
                        </a>
                    </h4>
                </div>
                <div id="collapseThreeSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFourSm">
                            4.Обязанности пользователя
                        </a>
                    </h4>
                </div>
                <div id="collapseFourSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFiveSm">
                            5.Обязанности администрации
                        </a>
                    </h4>
                </div>
                <div id="collapseFiveSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSixSm">
                            6.Ответственность
                        </a>
                    </h4>
                </div>
                <div id="collapseSixSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSevenSm">
                            7.Конфиденциальность
                        </a>
                    </h4>
                </div>
                <div id="collapseSevenSm" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="font-size: 100%" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEightSm">
                            8.Иные положения
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse ">
                    <div class="panel-body">
                        Большой и развёрнутый ответ.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/components/LP/footer.html'"></div>
