<header ng-include="'app/components/LP/nav.html'"></header>
<div ng-include="'app/components/LP/log.reg.html'">
</div>
<div class="col-md-12 text-center" style="background-color: white; font-weight: lighter; padding: 2vh 30vw 2vh 30vw;">
    <p style="font-size: 3vh;">
        <u style="border-bottom: 1px solid orange; text-decoration: none;">РЕГЛАМЕНТ</u>
    </p>
    <span class="text-center" style="color: gray; font-size: 2vh">
        На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
        изучений деятельности компании.Именно они помогут разобраться в нюансах работы
        сервиса и ответят на большую часть возникающих вопросов.
    </span>
</div>
<div class="col-md-12 text-left" style="background-color: white;  padding: 2vh 30vw 2vh 30vw;">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        1.Вводная Часть
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        2.Толкование
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                        3.Общие положения
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                        4.Обязанности пользователя
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                        5.Обязанности администрации
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                        6.Ответственность
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                        7.Конфиденциальность
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="font-size: 2.5vh" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                        8.Иные положения
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse ">
                <div class="panel-body">
                    Большой и развёрнутый ответ.
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/components/LP/footer.html'"></div>
