<div class="col-lg-12" style="padding:0; height:100%; width:100%">
    <header ng-include="'app/components/LP/nav.html'"></header>
    <div style="background-image: url('../../../assets/img/firstpic.jpg'); background-size:100% 100%; background-repeat:no-repeat; margin-top:0; padding-bottom:28%;">
        <div class="row">
            <div style="padding: 0;">
                <div ng-include="'app/components/LP/log.reg.html'"></div>
            </div>
            <div class="col-sm-12 col-md-12 text-center" style="margin-top: 4%">
                <span class="hidden-sm" style="color: black; font-style:italic; font-size: 300%; width:60%">Недвижимость.Свобода.Деньги</span><br />
                <span class="visible-sm" style="color: black; font-style:italic; font-size: 200%;">Недвижимость.Свобода.Деньги</span><br />
                <span class="hidden-sm" style="color: black; font-size: 120%;">ПРОСТЫЕ ИНВЕСТИЦИИ В НЕДВИЖИМОСТЬ</span>
                <span class="visible-sm" style="color: black; font-size: 100%;">ПРОСТЫЕ ИНВЕСТИЦИИ В НЕДВИЖИМОСТЬ</span>
            </div>
            <div class="col-sm-12 col-md-12 text-center" style="margin-top: 2%">
                <button class="btn btn-block center-block" style="background: none; border-color: black; font-size: 150%; border-radius: 15px; width:16%">Инвестировать</button>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:3%; padding-bottom:3%">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="padding: 1%">
            <img style="height: auto;width: 60%"  src="../../../assets/img/Logotype.png" />
        </div>
        <div class="col-md-12 hidden-sm text-center" style="background-color: #3e4363; color: white;">
            <p style="font-size: 140%; padding-left: 30%;padding-right: 30%">
                Выросла из размышлений о том,каким образом можно
                инвестировать в недвижимость и стабильно получать
                пасивный доход.Мы создали платформу,
                объеденившую множество единомышлиников для
                обеспечения независимого образа жизни.
            </p>
        </div>
        <div class="col-sm-12 visible-sm text-center" style="background-color: #3e4363; color: white;">
            <p style="font-size: 100%; padding-left: 20%;padding-right: 20%">
                Выросла из размышлений о том,каким образом можно
                инвестировать в недвижимость и стабильно получать
                пасивный доход.Мы создали платформу,
                объеденившую множество единомышлиников для
                обеспечения независимого образа жизни.
            </p>
        </div>
        <div class="col-md-12 col-sm-12 text-center">
            <div class="row text-center palabi" style="padding-top: 2%">
                <span style="color: black; font-size: 2em;"><i>Почему Мы?</i> </span>
            </div>
            <div class="row" style="padding: 1% 27% 1% 27%">
                <div class="col-md-6 col-sm-6">
                    <table>
                        <tr>
                            <td>
                                <img style="height: 80%" src="../../../assets/img/Иконка высокодоходности.png" />
                            </td>
                            <td style="padding-left: 2%">
                                <span style="color: black; font-size: 1.5em;">
                                    <i>Высокодоходность</i>
                                </span> <br />
                                <span style="color: black; font-size: 1em">
                                    В длительной перспективе
                                    цены на недвижимость
                                    Постоянно растут
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-sm-6" style="margin-right: 0;padding-right: 0">
                    <table>
                        <tr>
                            <td>
                                <img style="height: 80%" src="../../../assets/img/Иконка устойчивости.png" />
                            </td>
                            <td style="padding-left: 1%">
                                <span style="color: black; font-size: 1.5em;">
                                    <i>Актуальность</i>
                                </span> <br />
                                <span style="color: black; font-size: 1em;">
                                    Постоянный спрос на
                                    покупку и аренду вне
                                    зависимости от
                                    экономических дел.
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="padding: 1% 27% 1% 27%">
                <div class="col-md-6 col-sm-6" style="margin-right: 0;padding-right: 0">
                    <table>
                        <tr>
                            <td>
                                <img style="height: 80%" src="../../../assets/img/Иконка актуальности.png" />
                            </td>
                            <td style="padding-left: 1%">
                                <span style="color: black; font-size: 1.5em;">
                                    <i>Актуальность</i>
                                </span> <br />
                                <span style="color: black; font-size: 1em;">
                                    Постоянный спрос на
                                    покупку и аренду вне
                                    зависимости от
                                    экономических дел.
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-sm-6">
                    <table>
                        <tr>
                            <td>
                                <img style="height: 80%" src="../../../assets/img/Иконка безопасности.png" />
                            </td>
                            <td style="padding-left: 1%">
                                <span style="color: black; font-size: 1.5em;">
                                    <i>Безопасность</i>
                                </span> <br />
                                <span style="color: black; font-size: 1em;">
                                    Выгодные действия при
                                    наступлении временных
                                    кризисных ситуаций.
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url('../../../assets/img/Shablon (dr.text)2.jpg'); background-size: 100% 100%; height:100%; width: 100%; margin: 0; padding-bottom:0%;">
        <div class="row">
            <div class="text-center" style="margin-top: 9%">
                <span style="color: White; font-size: 2.7em;"><i>СТАТИСТИКА</i></span><br />
            </div>
            <div style="background-color: white; height: 20%;  margin: 5% 25% 20% 25%; padding-top:0.5%">
                <div class="row text-capitalize center-block">
                    <div class="col-md-4 col-sm-4">
                        <table class="text-center" align="center">
                            <tr>
                                <td style="font-size: 1.5em;">1623</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363; font-size: 2em; font-weight: bolder">•</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363">Пользователей</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <table class="text-center" align="center">
                            <tr>
                                <td style="font-size: 1.5em;">962323</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363; font-size: 2em; font-weight: bolder">•</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363">Инвестировано</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <table class="text-center" align="center">
                            <tr>
                                <td style="font-size: 1.5em;">262421</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363; font-size: 2em; font-weight: bolder">•</td>
                            </tr>
                            <tr>
                                <td style="color: #3e4363">Выплачено</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 text-center" style="background-color: #3e4363; color: white; height: 5%;">
        <p style="font-size: 2em; padding: 1% 30% 1% 30%;">
            <i>РАСЧИТАТЬ ВАШУ ПРИБЫЛЬ?</i>
        </p>
    </div>
    <div class="col-md-12 col-sm-12 text-center" style="background-color: #323650; color: white; height: 10%; padding: 1% 20% 1% 20%">
        <p class="center-block" style="font-size: 1em">
            <div class="col-md-4 col-sm-4">
                <input type="text" class="form-control" id="summa"
                       placeholder="Введите сумму...">
            </div>
            <div class="col-md-4 col-sm-4">
                <input type="text" class="form-control" id="venit"
                       placeholder="Ваша прибыль...">
            </div>
            <div class="col-md-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block">ПРИСТУПИТЬ</button>
            </div>
        </p>
    </div>
    <div class="col-md-12 col-sm-12 text-center" style="background-color: white; color: white; padding: 1% 10% 0 10%">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-right" style="padding: 2% 0% 0 7%">
                <img style="height: auto; width:60% " src="../../../assets/img/livechat.jpg" />
            </div>
            <div class="col-md-6 col-sm-6" style="margin-top: 5%">
                <p align="left" style="color: gray; font-size: 2.2em;">Участник</p>
                <p align="left" style="color: black; font-size: 2.3em;"><u style="text-decoration: none; border-bottom: 3px solid greenyellow;">Макс Рудковский</u></p>
                <span style="color: black; font-size: 1em; padding: 0 40% 0 10%">
                    Посетив однажды конференцию по
                    недвижимости в городе Саратов, я
                    стал воспринимать этот способ,как
                    выгодный источник инвестированияю
                    Ведь буквально сразу,после
                    сдачи дома в эксплуатацию,
                    каждый квадратный метр дорожает
                    на 20-30%.При условной себестоймости
                    и правильном раскладе можно получать
                    большие деньги.И эта одна из
                    причин высокодоходных инвестиций
                    в недвижимость и один из способов
                    стабильного заработка.
                    Зарабатывайте вместе с
                    «The Immovables and Prosperity»
                </span>
            </div>
        </div>        
    </div>
    <div ng-include="'app/components/LP/footer.html'"></div>
</div>
