<header ng-include="'app/components/LP/nav.html'"></header>
<div ng-include="'app/components/LP/log.reg.html'" style="background-image: url('../../../assets/img/Shablon (Новости).jpg'); background-size:100%;background-repeat: no-repeat; height: 100%; width: 100%; margin: 0;padding-bottom: 10%;">
</div>
<div class="col-md-12 text-center" style="background-color: white; font-weight: lighter; padding: 1% 28% 1% 28%;">
    <div class="hidden-sm">
        <p style="font-size: 200%;">
            <u style="border-bottom: 1px solid orange; text-decoration: none;">НОВОСТИ</u>
        </p>
    </div>
    <div class="visible-sm">
        <p style="font-size: 150%;">
            <u style="border-bottom: 1px solid orange; text-decoration: none;">НОВОСТИ</u>
        </p>
    </div>
    <div class="hidden-sm">
        <span class="text-center" style="color: gray; font-size: 150%" >
            На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
            изучений деятельности компании.Именно они помогут разобраться в нюансах работы
            сервиса и ответят на большую часть возникающих вопросов.
        </span>
    </div>
    <div class="visible-sm">
        <span class="text-center" style="color: gray; font-size: 100%">
            На начальном этапе «Часто задаваемые вопросы (FAQ)» являются отличным источником
            изучений деятельности компании.Именно они помогут разобраться в нюансах работы
            сервиса и ответят на большую часть возникающих вопросов.
        </span>
    </div>
</div>
<div class="col-md-12" style="background-color: #f3effc;  margin: 0; padding: 0;">
    <div class="row">
        <div class="center-block" style="padding: 0; margin: 2% 25% 0% 13%;">
            <div class="col-md-12">
                <div class="col-md-6 col-sm-6 text-right" style="padding-right: 0">
                    
                    <p style="font-size: 100%">
                        20 ЯНВАРЯ <img style="height: auto; width: 15%" src="../../../assets/img/12121212121.png"/>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6" style="border-bottom: 1px solid gray">
                    <div class="hidden-sm">
                        <p class="text-left" style="font-size: 300%">
                            Заголовок статьи
                        </p>
                    </div>
                    <div class="visible-sm">
                        <p class="text-left" style="font-size: 200%">
                            Заголовок статьи
                        </p>
                    </div>
                    <div class="hidden-sm">
                        <span ng-show="$parent.pag==1" class="text-left" style="font-size: 150%; color: gray">
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        </span>
                        <span ng-show="$parent.pag==2" class="text-left" style="font-size: 150%; color: gray">
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        </span>
                        <span ng-show="$parent.pag==3" class="text-left" style="font-size: 150%; color: gray">
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        </span>
                    </div>
                    <div class="visible-sm">
                        <span ng-show="$parent.pag==1" class="text-left" style="font-size: 75%; color: gray">
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                        </span>
                        <span ng-show="$parent.pag==2" class="text-left" style="font-size: 75%; color: gray">
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                        </span>
                        <span ng-show="$parent.pag==3" class="text-left" style="font-size: 75%; color: gray">
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 text-right" style="padding-right:0">
                        <p style="font-size: 100%">
                            20 ЯНВАРЯ <img style="height: auto;width: 15%" src="../../../assets/img/12121212121.png" />
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6" style="border-bottom: 1px solid gray">
                        <div class="hidden-sm">
                            <p class="text-left" style="font-size: 300%">
                                Заголовок статьи
                            </p>
                        </div>
                        <div class="visible-sm">
                            <p class="text-left" style="font-size: 200%">
                                Заголовок статьи
                            </p>
                        </div>
                        <div class="hidden-sm">
                            <span ng-show="$parent.pag==1" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==2" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==3" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            </span>
                        </div>
                        <div class="visible-sm">
                            <span ng-show="$parent.pag==1" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==2" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==3" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            </span>
                        </div>
                    </div>
                </div>
              </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 text-right" style="padding-right:0">
                        <p style="font-size: 100%">
                            20 ЯНВАРЯ <img style="height: auto;width: 15%" src="../../../assets/img/12121212121.png" />
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6" style="border-bottom: 1px solid gray">
                        <div class="hidden-sm">
                            <p class="text-left" style="font-size: 300%">
                                Заголовок статьи
                            </p>
                        </div>
                        <div class="visible-sm">
                            <p class="text-left" style="font-size: 200%">
                                Заголовок статьи
                            </p>
                        </div>
                        <div class="hidden-sm">
                            <span ng-show="$parent.pag==1" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==2" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==3" class="text-left" style="font-size: 150%; color: gray">
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            </span>
                        </div>
                        <div class="visible-sm">
                            <span ng-show="$parent.pag==1" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                                Очень много текста типа статья Очень много текста типа статья Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==2" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                                Очень много текста типа статья 2 Очень много текста типа статья 2 Очень много текста типа статья
                            </span>
                            <span ng-show="$parent.pag==3" class="text-left" style="font-size: 75%; color: gray">
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                                Очень много текста типа статья 3 Очень много текста типа статья 3 Очень много текста типа статья
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-init="$parent.pag=1">
        <div class="col-md-12 text-center center-block">
            <ul class="pagination" style="font-size: 100%">
                <li ng-class="$parent.pag==1?'active':''" ng-click="$parent.pag=1"><a  style="color: black">1</a></li>
                <li ng-class="$parent.pag==2?'active':''" ng-click="$parent.pag=2"><a  style="color: black" >2</a></li>
                <li ng-class="$parent.pag==3?f'active':''" ng-click="$parent.pag=3"><a  style="color: black" >3</a></li>
            </ul>
        </div>
    </div>
<div ng-include="'app/components/LP/footer.html'"></div>