<div class="col-lg-12" style="padding-bottom: 0; padding-top: 0;">
    <div class="row">
        <div class="col-md-1" style="padding: 0">
            <div ng-include="'app/components/LK/nav-ver.html'"></div>
        </div>
        <div class="col-md-11" style="padding: 0">
            <div ng-include="'app/components/LK/nav-hor.html'"></div>
            <div style="margin: 8vh 10vw 10vh 10vw;">
                <div class="row">
                    <div class="col-md-6 text-center" style="padding-right:3vw">
                        <div style="height:10vh; background-color: #c094be ">
                            <div class="row">
                                <div class="col-md-8" style="padding:2vh">
                                    <span style="color: white; font-size: 4vh;">728X90</span>
                                </div>                                
                                <div class="col-md-2" style="background-color: #9f6e9d  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2" style="background-color: #ab75a9  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding:2vh; margin-top: 3vh">
                                    <span style="color: black; font-size: 2vh;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center" style="padding-left:3vw">
                        <div style="height:10vh; background-color: #c094be ">
                            <div class="row">
                                <div class="col-md-8" style="padding:2vh">
                                    <span style="color: white; font-size: 4vh;">728X90</span>
                                </div>
                                <div class="col-md-2" style="background-color: #9f6e9d  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2" style="background-color: #ab75a9  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding:2vh; margin-top: 3vh">
                                    <span style="color: black; font-size: 2vh;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center" style="padding-right:3vw">
                        <div style="height:10vh; background-color: #c094be ">
                            <div class="row">
                                <div class="col-md-8" style="padding:2vh">
                                    <span style="color: white; font-size: 4vh;">728X90</span>
                                </div>
                                <div class="col-md-2" style="background-color: #9f6e9d  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2" style="background-color: #ab75a9  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding:2vh; margin-top: 3vh">
                                    <span style="color: black; font-size: 2vh;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center" style="padding-left:3vw">
                        <div style="height:10vh; background-color: #c094be ">
                            <div class="row">
                                <div class="col-md-8" style="padding:2vh">
                                    <span style="color: white; font-size: 4vh;">728X90</span>
                                </div>
                                <div class="col-md-2" style="background-color: #9f6e9d  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2" style="background-color: #ab75a9  ;padding:3vh">
                                    <img style="height:4vh" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding:2vh; margin-top: 3vh">
                                    <span style="color: black; font-size: 2vh;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>