<div class="col-lg-12" style="padding-top: 0;padding-bottom: 0; height:100%; width:100%">
    <div class="row">
        <div class="col-md-1" style="padding: 0; margin:0; height:100%;  width:10%">
            <div ng-include="'app/components/LK/nav-ver.html'"></div>
        </div>
        <div class="col-md-11" style="padding: 0;margin:0; width:90%">
            <div ng-include="'app/components/LK/nav-hor.html'"style="padding: 0;margin:0; width:100%; height:10%"></div>
            <div class="col-md-12"style="padding-top: 0">
                <div ng-include="'app/components/LK/main-inf.html'"></div>
                <div class="row text-center" style="background-color: #8489a8; padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-md-3">
                        <img style="height: 3vh;" src="../../../assets/img/lp.main/Общая статистика.png"/>
                        <br/><span style="font-size: 2vh;color: white;">Общая статистика сайта</span> 
                    </div>
                    <div class="col-md-3">
                        <img style="height: 2.5vh;" src="../../../assets/img/lp.main/Пользователей.png"/><span style="font-size: 2.5vh;color: white; ">1234</span> 
                        <br /><span style="font-size: 2vh;color: white;">Пользователей</span> 
                    </div>
                    <div class="col-md-3">
                        <img style="height: 2.5vh;" src="../../../assets/img/lp.main/Инвестировано.png"/><span style="font-size: 2.5vh;color: white;">283423</span> 
                        <br /><span style="font-size: 2vh;color: white;">Инвестировано</span> 
                    </div>
                    <div class="col-md-3">
                        <img style="height: 2.5vh;" src="../../../assets/img/lp.main/Инвестировано.png"/><span style="font-size: 2.5vh;color: white;">89234</span> 
                        <br /><span style="font-size: 2vh;color: white;">Выплачено</span> 
                    </div>
                </div>
                <div class="container-fluid text-center" style="height: 40vh; padding-top: 5vh">
                    <div class="row container-fluid">
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 1.5%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Доступно</span> <hr style="border-top: 3px solid #9d6ac5;"/><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Инвестировано</span> <hr style="border-top: 3px solid #9d6ac5;"/><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Выведено</span> <hr style="border-top: 3px solid #9d6ac5;"/><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Партнёров</span> <hr style="border-top: 3px solid #9d6ac5;" /><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                    </div>
                    <div class="row container-fluid" style="padding-top: 3vh">
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 1.5%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Последний вклад</span> <hr style="border-top: 3px solid #9d6ac5;" /><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Последняя выплата</span> <hr style="border-top: 3px solid #9d6ac5;" /><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Активных депозитов</span> <hr style="border-top: 3px solid #9d6ac5;" /><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                        <div class="col-md-3" style="background-color: #f2f2f2; width: 22%; margin-left: 3%; border-radius: 8px; padding: 2vh 8vh 2vh 8vh;">
                            <span style="font-size: 2.5vh;">Партнёрские</span> <hr style="border-top: 3px solid #9d6ac5;" /><span style="font-size: 2.2vh;">0 RUB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

