<div>
    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation" style="height : 100vh;">
            <ul class="nav navbar-nav">
                <li class="col-sm-12"><a href="#">Menu Item 1</a></li>
                <li class="col-sm-12"><a href="#">Menu Item 2</a></li>
                <li class="col-sm-12"><a href="#">Menu Item 3</a></li>
                <li class="col-sm-12"><a href="#">Menu Item 4</a></li>
                <li class="col-sm-12 "><a href="#">Reviews <span class="badge">1,118</span></a></li>
            </ul>
            <ul class="nav navbar-nav " >
                <li class="col-sm-12"><a href="#">Menu Item 1</a></li>
            </ul>
        </div>
    </div>
</div>
