<div class="col-lg-12" style="padding-top: 0;padding-bottom: 0">
    <div class="row">
        <div class="col-md-1" style="padding: 0">
            <div ng-include="'app/components/LK/nav-ver.html'"></div>
        </div>
        <div class="col-md-11" style="padding: 0">
            <div ng-include="'app/components/LK/nav-hor.html'"></div>
            <div class="col-md-12" style="padding-top: 0;">
                <div ng-include="'app/components/LK/main-inf.html'"></div>
                <div class="row text-center" style="background-color: #8489a8; padding-top: 5px; padding-bottom: 5px;">
                    <span style="font-size: 3.5vh;color: white;">Финансовые операции</span>
                </div>
                <div class="container-fluid text-center" style="height:47vh; margin: 2vh; padding: 6vh 10vh 6vh 10vh; background-color: white;border-radius: 5px">
                    <div class="row">
                        <div class="col-md-6" style="margin-right:2vw; width: 37vw">
                            <div class="row">
                                <div class="col-md-4" style="height:32vh; margin-top: 1vh; margin-bottom:1vh;padding: 4vh 3vh 4vh 3vh; background-color: #eeeded;">
                                    <p>
                                        <img style="height: 8vh; margin-bottom: 4vh; margin-top:2vh" src="../../../assets/img/lp.op/Создание депозита.png" /><br />
                                        <span style="font-size: 2vh; color: #484848;">Зачисление средств доступно от 10 рублей и происходит мгновенно</span>
                                    </p>
                                </div>
                                <div class="col-md-8" style="height:20vh; margin-top: 7vh; margin-bottom: 7vh; background-color: #927899 ">
                                    <div class="col-md-12" style="padding: 1vh 3vh 1vh 3vh; margin-bottom: 1vh">
                                        <input type="text" class="form-control" style="font-size: 2vh;height: 4vh;background: whitesmoke; border-bottom-width: 3px; border-color: #b794c0;color: black" placeholder=" Введите сумму депозита...">
                                    </div>
                                    <div class="col-md-12" style="padding: 0vh 3vh 2vh 3vh">
                                        <select class="form-control placeholder" style="height: 4vh; font-size: 2vh;background: whitesmoke; color: gray; border-bottom-width: 3px;border-color: #b794c0">
                                            <option hidden >Выберите платёжную систему...</option>
                                            <option style="color: #927899" value="">A</option>
                                            <option style="color: #927899" value="">B</option>
                                            <option style="color: #927899" value="">C</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12" style="padding: 0vh 3vh 2vh 3vh">
                                        <button class="btn btn-default " style="padding-top: 0; padding-bottom: 0;height:4vh; font-size: 2vh; background: none; border-radius: 0; border-color: #b794c0; color: white; border-width: 3px">Создать депозит</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-6" style="margin-left:2vw; width: 37vw">
                            <div class="row">
                                <div class="col-md-4" style="height:32vh; margin-top: 1vh; margin-bottom:1vh;padding: 4vh 3vh 4vh 3vh; background-color: #eeeded;">
                                    <p>
                                        <img style="height: 8vh; margin-bottom: 4vh; margin-top:2vh" src="../../../assets/img/lp.op/Вывод средств.png" /><br />
                                        <span style="font-size: 2vh; color: #484848;">Вывод осуществляется вручную от 5 минут до 6 часов</span>
                                    </p>
                                </div>
                                <div class="col-md-8" style="height:20vh; margin-top: 7vh; margin-bottom: 7vh; background-color: #927899 ">
                                    <div class="col-md-12" style="padding: 1vh 3vh 1vh 3vh; margin-bottom: 1vh">
                                        <input type="text" class="form-control" style="font-size: 2vh;height: 4vh;background: whitesmoke; border-bottom-width: 3px; border-color: #b794c0;color: black" placeholder=" Введите сумму вывода...">
                                    </div>
                                    <div class="col-md-12" style="padding: 0vh 3vh 2vh 3vh">
                                        <select class="form-control placeholder" style="height: 4vh; font-size: 2vh;background: whitesmoke; color: gray; border-bottom-width: 3px;border-color: #b794c0">
                                            <option hidden>Выберите платёжную систему...</option>
                                            <option style="color: #927899" value="">A</option>
                                            <option style="color: #927899" value="">B</option>
                                            <option style="color: #927899" value="">C</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12" style="padding: 0vh 3vh 2vh 3vh">
                                        <button class="btn btn-default " style="padding-top: 0; padding-bottom: 0; height:4vh; font-size: 2vh; background: none; border-radius: 0; border-color: #b794c0; color: white; border-width: 3px">Создать депозит</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
