<div class="col-lg-12" style="padding-bottom: 0; padding-top: 0;">
    <div class="row">
        <div class="col-md-1" style="padding: 0">
            <div ng-include="'app/components/LK/nav-ver.html'"></div>
        </div>
        <div class="col-md-11" style="padding: 0">
            <div ng-include="'app/components/LK/nav-hor.html'"></div>
            <div style="margin: 8vh 10vw 10vh 10vw;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="background-color: #e8e8e8; height: 25vh; padding: 10vh 0 10vh 0">
                            <div class="col-md-6 text-center" style="border-right: 1px solid gray;" ng-init="$parent.srct1='../../../assets/img/lp.tik/ВК (неактив).png'">
                                <a class="p">
                                    <img style="height: 5vh" ng-mouseenter="$parent.srct1='../../../assets/img/lp.tik/ВК (актив).png'" ng-mouseleave="$parent.srct1='../../../assets/img/lp.tik/ВК (неактив).png'" ng-src="{{$parent.srct1}}"/>
                                </a>
                            </div>
                            <div class="col-md-6 text-center" ng-init="$parent.srct2='../../../assets/img/lp.tik/Почта (неактив).png'">
                                <a class="p">
                                    <img style="height: 5vh" ng-mouseenter="$parent.srct2='../../../assets/img/lp.tik/Почта (актив).png'" ng-mouseleave="$parent.srct2='../../../assets/img/lp.tik/Почта (неактив).png'" ng-src="{{$parent.srct2}}"/>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="height: 10vh;" ng-init="$parent.color1={'background-color':'#ac88af'};$parent.color2={'background-color':'#ac88af'};">
                            <div class="col-md-6 text-center" ng-style="$parent.color1;" style="padding: 3vh">
                                <div class="p" ng-mouseenter="$parent.color1={'background-color':'#987e9a'};" ng-mouseleave="$parent.color1={'background-color':'#ac88af'}; ">
                                    <span style="color: white; font-size: 2.5vh;">vk.com/lorem.ipsum</span>
                                </div>
                            </div>
                            <div class="col-md-6 text-center" ng-style="$parent.color2" style="padding: 3vh">
                                <div class="p" ng-mouseenter="$parent.color2={'background-color':'#987e9a'};" ng-mouseleave="$parent.color2={'background-color':'#ac88af'};">
                                    <span style="color: white; font-size: 2.5vh;">golem5star@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row" style="height: 8vh;">
                            <div class="col-md-12 text-center" style="padding: 1vh">
                                <span style="color: #915b95; font-size: 4vh;">__________</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row text-center " style="height: 25vh; padding: 2vh 2vw 0 2vw">
                            <div class="col-md-4" style="width: 18vw;">
                                <img style="height: 10vh;margin-bottom: 2vh" src="../../../assets/img/lp.tik/Шаг 1.png"/><br/>
                                <span style="color: #484848; font-size: 2vh;">Укажите тему заявки и корректно сформудируйте свой вопрос</span>
                            </div>
                            <div class="col-md-2" style="margin-top: 3vh; width: 7vw;">
                                <img style="height: 5vh" src="../../../assets/img/lp.tik/Стрелка.png"/>
                            </div>
                            <div class="col-md-4" style="width: 18vw;">
                                <img style="height: 10vh;margin-bottom: 2vh" src="../../../assets/img/lp.tik/Шаг 2.png"/><br/>
                                <span style="color: #484848; font-size: 2vh;">Отправте заявку и ожидайте ответа в течении регламентируемых 24-х часов</span>
                            </div>
                            <div class="col-md-2" style="margin-top: 3vh; width: 7vw;">
                                <img style="height: 5vh" src="../../../assets/img/lp.tik/Стрелка.png"/>
                            </div>
                            <div class="col-md-4" style="width: 18vw;">
                                <img style="height: 10vh;margin-bottom: 2vh" src="../../../assets/img/lp.tik/Шаг 3.png"/><br/>
                                <span style="color: #484848; font-size: 2vh;">Получите оповещения с помошщью индикаторв в верхнем левом углу</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>