<div class="col-lg-12" style="padding-top: 0;padding-bottom: 0; height:100%; width:100%">
    <div class="row">
        <div class="col-md-1 col-sm-1" style="padding: 0; margin:0; height:100%; width:10%">
            <div ng-include="'app/components/LK/nav-ver.html'"></div>
        </div>
        <div class="col-md-11 col-sm-11" style="padding: 0; margin: 0; height: 100%; width: 90%">
            <div ng-include="'app/components/LK/nav-hor.html'" style="padding: 0;margin:0; width:100%; height:10%"></div>
            <div style="margin: 6% 8% 2% 8%;">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center" style="padding-right:4%">
                        <div class="col-sm-12 col-md-12" >
                            <div class="row" style=" height: 90px">
                                <div class="col-md-8 col-sm-8" style="background-color: #c094be; height: 90px;padding:17px">
                                    <span style="color: white; font-size: 300%;">728X90</span>
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #9f6e9d;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 50%" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #ab75a9;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 30%" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="padding: 3% 0 3% 0; margin-top: 4%">
                                    <div class="pull-left">
                                        <img style="height: 100%;" src="../../../assets/img/lp.baner/Левый уголок.png" />
                                    </div>
                                    <span style="color:black; font-size: 130%;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                    <div class="pull-right">
                                        <img style="height: 100%; " src="../../../assets/img/lp.baner/Правый уголок.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center" style="padding-right:4%">
                        <div class="col-sm-12 col-md-12">
                            <div class="row" style=" height: 90px">
                                <div class="col-md-8 col-sm-8" style="background-color: #c094be; height: 90px;padding:17px">
                                    <span style="color: white; font-size: 300%;">728X90</span>
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #9f6e9d;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 50%" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #ab75a9;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 30%" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="padding: 3% 0 3% 0; margin-top: 4%">
                                    <div class="pull-left">
                                        <img style="height: 100%;" src="../../../assets/img/lp.baner/Левый уголок.png" />
                                    </div>
                                    <span style="color:black; font-size: 130%;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                    <div class="pull-right">
                                        <img style="height: 100%; " src="../../../assets/img/lp.baner/Правый уголок.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center" style="padding-right: 4%">
                        <div class="col-sm-12 col-md-12">
                            <div class="row" style=" height: 90px">
                                <div class="col-md-8 col-sm-8" style="background-color: #c094be; height: 90px;padding:17px">
                                    <span style="color: white; font-size: 300%;">728X90</span>
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #9f6e9d;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 50%" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #ab75a9;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 30%" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="padding: 3% 0 3% 0; margin-top: 4%">
                                    <div class="pull-left">
                                        <img style="height: 100%;" src="../../../assets/img/lp.baner/Левый уголок.png"/>
                                    </div>
                                    <span style="color: black; font-size: 130%;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                    <div class="pull-right">
                                        <img style="height: 100%;" src="../../../assets/img/lp.baner/Правый уголок.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center" style="padding-right:4%">
                        <div class="col-sm-12 col-md-12">
                            <div class="row" style=" height: 90px">
                                <div class="col-md-8 col-sm-8" style="background-color: #c094be; height: 90px;padding:17px">
                                    <span style="color: white; font-size: 300%;">728X90</span>
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #9f6e9d;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 50%" src="../../../assets/img/lp.baner/Предпросмотр.png" />
                                </div>
                                <div class="col-md-2 col-sm-2" style="background-color: #ab75a9;height: 90px ;padding:30px 0% 0% 0%">
                                    <img style="height: auto; width: 30%" src="../../../assets/img/lp.baner/Копировать.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="padding: 3% 0 3% 0; margin-top: 4%">
                                    <div class="pull-left">
                                        <img style="height: 100%;" src="../../../assets/img/lp.baner/Левый уголок.png" />
                                    </div>
                                    <span style="color:black; font-size: 130%;">Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст Очень важный текст</span>
                                    <div class="pull-right">
                                        <img style="height: 100%; " src="../../../assets/img/lp.baner/Правый уголок.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>