<div class="row">
    <div class="col-md-6 col-sm-6" style="background-image: url(../../../assets/img/lp.main/bricks-1044659_1920.jpg); background-size: contain;  background-size: 100% 100%;">
        <div class="col-md-12">
            <img src="../../../assets/img/lp.main/4.jpg" class="img-responsive img-circle  center-block " style="height: 15%; width: 15%; padding-top: 10%; padding-bottom: 10%"/>
        </div>
    </div>
    <div class="col-md-6 hidden-sm " style="padding-left: 3%; padding-top: 2.5%; height: 100%">
        <div class="row text-left">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width: 100%" src="../../../assets/img/lp.main/Иконка логина.png"/>
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.7em;">  Andre</span>  <br> <span style="font-size: 1.2em;">  Ваш логин</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width: 100%" src="../../../assets/img/lp.main/Иконка партнерской ссылки.png"/>
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.7em;">  lorem.ipsum/dolor</span>  <br> <span style="font-size: 1.2em;"> Ваша реф. ссылка</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-left" style="margin-top: 5%">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width: 100%" src="../../../assets/img/lp.main/Иконка IP.png"/>
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.7em; white-space: nowrap;">  IP 123.234.345.456</span>  <br> <span style="font-size: 1.2em;">  Последний IP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width: 100%" src="../../../assets/img/lp.main/Иконка баланса.png"/>
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.7em; white-space: nowrap;"> 23400 руб.</span>  <br> <span style="font-size: 1.2em;"> Ваш баланс</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-6 visible-sm" style="padding-left: 1%; padding-bottom: 0; height: 100%">
        <div class="row text-left">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width:100%" src="../../../assets/img/lp.main/Иконка логина.png" />
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.5em;">  Andre</span>  <br> <span style="font-size: 1em;">  Ваш логин</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width:100%" src="../../../assets/img/lp.main/Иконка партнерской ссылки.png" />
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.5em;">  lorem.ipsum/dolor</span>  <br> <span style="font-size: 1em;"> Ваша реф. ссылка</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-left" style="margin-top: 5%">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width:100%" src="../../../assets/img/lp.main/Иконка IP.png" />
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.5em; white-space: nowrap;">  IP 123.234.345.456</span>  <br> <span style="font-size: 1em; ">  Последний IP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-3 center-block">
                        <img style="height: 100%; width:100%" src="../../../assets/img/lp.main/Иконка баланса.png" />
                    </div>
                    <div class=" col-md-10 col-sm-9" style="padding: 0">
                        <span style="font-size: 1.5em; white-space: nowrap;"> 23400 руб.</span>  <br> <span style="font-size: 1em;"> Ваш баланс</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>