<div class="row" style="height: 35vh">
    <div class="col-md-6" style="background-image: url(../../../assets/img/lp.main/bricks-1044659_1920.jpg);padding: 0">
        <img src="../../../assets/img/lp.main/4.jpg" class="img-responsive img-circle  center-block " style="height: 15vh;margin-top: 10vh;margin-bottom: 10vh" />
    </div>
    <div class="col-md-6 container " style="padding: 5vh">
        <div class="row text-left">
            <div class="col-md-6 ">
                <table align="left">
                    <tr>
                        <td>
                            <img style="height: 4vh;" src="../../../assets/img/lp.main/Иконка логина.png" />
                        </td>
                        <td style="padding-left:3vh">
                            <span style="font-size: 3vh;">  Andre</span>  <br> <span style="font-size: 2vh">  Ваш логин</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table align="left">
                    <tr>
                        <td>
                            <img style="height: 4vh;" src="../../../assets/img/lp.main/Иконка партнерской ссылки.png" />
                        </td>
                        <td style="padding-left:3vh">
                            <span style="font-size: 3vh;">  lorem.ipsum/dolor</span>  <br> <span style="font-size: 2vh">  Ваша реф. ссылка</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row text-left" style="margin-top: 5vh">
            <div class="col-md-6 ">
                <table align="left">
                    <tr>
                        <td>
                            <img style="height: 4vh;" src="../../../assets/img/lp.main/Иконка IP.png" />
                        </td>
                        <td style="padding-left: 3vh">
                            <span style="font-size: 3vh;">  IP 123.234.345.456</span>  <br> <span style="font-size: 2vh">  Последний IP</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 ">
                <table align="left">
                    <tr>
                        <td>
                            <img style="height: 4vh;" src="../../../assets/img/lp.main/Иконка баланса.png" />
                        </td>
                        <td style="padding-left:3vh">
                            <span style="font-size: 3vh;">  23400 руб.</span>  <br> <span style="font-size: 2vh">  Ваш баланс</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>